@charset "UTF-8";
h1{
	text-align:center;
	font-size:5rem;
	color:white;
}
li{
	float:left;
	color:white;
}
#nullresult{
	color:white;
	padding-top:150px;
}

.page{
	padding-top:3%;
	margin-left:43%;
}
.paging li{
	margin-left:20px;
}
.freeboardList{
	text-align:center;	
}
.freeboardList li{
	float:left;
	height:40px;
	line-height:40px;
	border-bottom:1px solid #ddd;
	width:15%;
	text-align:center;
	color:white;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}
.freeboardList>li:nth-child(5n+1), .freeboardList>li:nth-child(5n+4){
	width:8%;
}
.freeboardList>li:nth-child(5n+2){
	width:55%;
}
.freeboardList>li:nth-child(5n+3){
	width:14%;
}
.freeboardList ol{
	height:40px;
	line-height:40px;
	text-align:center;
	width:5%;
	display:inline-block;
	margin:10px 0 0 -35px;
} 
/* .freeboardList li a{ 본문 제목
	color:black;
}*/
.helpboardList{
	text-align:center;	
}
.helpboardList li{
	height:40px;
	line-height:40px;
	border-bottom:1px solid #ddd;
	width:15%;
	text-align:center;
	color:white;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}
.helpboardList>li:nth-child(5n+1), .helpboardList>li:nth-child(5n+4){
	width:8%;
}
.helpboardList>li:nth-child(5n+2){
	width:55%;
}
.helpboardList>li:nth-child(5n+3){
	width:14%;
}
.helpboardList ol{
	height:40px;
	line-height:40px;
	text-align:center;
	width:5%;
	display:inline-block;
	margin:10px 0 0 -35px;
}
/*
.freeboardList ol a{ 페이징 버튼 부트스트랩쓰면 사라질 얘들입니다.
	color:black;
} */
.container{/* 본문 */
	width: 1200px;
	height:100%;
	margin: 0px auto;
	padding:120px 0 202px 0;
}
body{
	background-color: black;
}
ul{
	list-style:none;
}

#searchFrm{
	padding-top:3%;
}
#searchkey{ /* 게시글번호/제목/작성자 옵션*/
	border-radius:10px;
    position: relative;
    width:144px;
    height: 34px;
    padding: 4px 36px 1px 17px;
    box-sizing: border-box;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#search{ /* 검색 */
	border-radius:10px;
    display: inline-block;
    position: relative;
    height: 34px;
    box-sizing: border-box;
    border: solid 1px;
    vertical-align: top;
}
#searchBtn{ /* 검색버튼 */
	border-radius:10px;
	display: inline-block;
    width: 56px;
    height: 34px;
    background-color: gray;
    border: 0;
    color: #fff;
}
#write_div{
	padding-bottom:70px;
}
#write{/* 글쓰기버튼 */
	border-radius:10px;
	display: inline-block;
    position: relative;
    height: 34px;
    box-sizing: border-box;
    background:gray;
    color:white;
}
#page{
	text-align:center;
	display:inline-block;
}