@charset "UTF-8";

 @font-face {
   font-family: 'RixYeoljeongdo_Regular';
   src:
      url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2102-01@1.0/RixYeoljeongdo_Regular.woff')
      format('woff');
   font-weight: normal;
   font-style: normal;
}


* {
   box-sizing: border-box;
}

.warning{
position: absolute;
  top: 2px;
  right: 2px;
  padding: 10px 50px;
  border-radius: 15px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  font-size: 23px;
  font-weight: 600;
  transition: 0.25s;
  border: none;
  background-color: rgba(0, 0, 0, 0.2);
  color: #6e6e6e;
  cursor: pointer;
}

.warning:hover {
	letter-spacing: 2px;
	transform: scale(1.1);
	cursor: pointer;
	background-color: #a3a1a1;
    color: #e3dede;
}

body {
   background: black;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
   position: relative;
}

.movieView_container {
   margin: 0 auto 300px auto;
   margin-top: 160px;
   max-width: 1500px;
   height: 100%;
}

.movieDetail_container {
   position: relative;
   margin: 0px auto;
   width: 1300px;
   height: 700px;
   margin: 0px auto;
}

.movie_card {
   position: relative;
   margin: 0 auto;
   display: block;
   width: 100%;
   height: 600px;
   margin-top: 100px;
   overflow: hidden;
   border-radius: 12px;
   /* transition: all 0.4s ease-in-out; */
}

.movie_card .info_section {
   position: relative;
   width: 100%;
   height: 100%;
   background-blend-mode: multiply;
   border-radius: 10px;
   z-index: 10;
}

.movie_card .info_section .movie_header {
   position: relative;
   display: inline-block;
   padding: 15px;
   height: 45%;
}

.movie_card .info_section .movie_header h1 {
   font-family: 'RixYeoljeongdo_Regular';
   margin-top: 50px;
   color: white;
   font-size: 30px;
}

.movie_card .info_section .movie_header h5 {
   margin-bottom: 15px;
   color: white;
   font-weight: 200;
}

.movie_card .info_section .movie_header h4 {
   margin: 2px;
   color: #cee4fd;
   font-size: 18px;
}

.movie_card .info_section .movie_header .minutes {
   display: inline-block;
   margin: 10px 0 5px 0;
   padding: 9px;
   color: #fff;
   border-radius: 5px;
   border: 1px solid rgba(255, 255, 255, 0.33);
   font-size: 18px;
}

.movie_card .info_section .movie_header .type {
   display: block;
   margin: 2px;
   color: #cee4fd;
   font-size: 18px;
}

.movie_card .info_section .movie_header .poster {
   position: relative;
   float: left;
   margin-right: 20px;
   height: 300px;
   box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.5);
}

.movie_card .info_section .movie_desc {
   display: flex;
   align-items: center;
   margin-top: 15px;
   padding: 15px;
   height: 45%;
}

.movie_card .info_section .movie_desc .text {
   color: #cfd6e1;
   line-height: 21px;
}

.header_review_start i {
   margin-top: 10px;
   color: #fd4;
   font-size: 22px;
}

/*
.movie_card .info_section .movie_social {
   height: 10%;
   padding-left: 15px;
   padding-bottom: 20px;
   bottom: 0;
   position: absolute;
}

.movie_card .info_section .movie_social ul {
   padding: 0;
   list-style: none;
}

.movie_card .info_section .movie_social ul li {
   display: inline-block;
   margin: 0 10px;
   color: rgba(255, 255, 255, 0.4);
   transition: color 0.3s;
   transition-delay: 0.15s;
}

.movie_card .info_section .movie_social ul li:hover {
   color: rgba(255, 255, 255, 0.8);
   transition: color 0.3s;
}

.movie_card .info_section .movie_social ul li i {
   font-size: 19px;
   cursor: pointer;
}
*/
.movie_card .info_section .movie_youdube {
   display: inline-block;
   width: 150px;
   height: 100px;
   padding: 0 15px;
   position: relative;
}

.movie_card .info_section .movie_youdube a {
   color: white;
   text-decoration: none;
}

.fa-youtube {
   position: absolute;
   right: 47%;
   bottom: 50%;
   margin-left: 12px;
   color: #ffffff7b;
   font-size: 80px;
}

.fa-youtube:hover {
   background-image: linear-gradient(-20deg, #d558c8 0%, #24d292 100%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

.movie_card .blur_back {
   position: absolute;
   top: 1px;
   right: 0;
   height: calc(100% - 2px);
   z-index: 1;
   background-size: cover;
   border-radius: 11px;
}

@media screen and (min-width: 768px) {
   .movie_header {
      width: 55%;
   }
   .movie_desc {
      width: 50%;
   }
   .info_section {
      background: linear-gradient(to right, #0d0d0c 50%, transparent 100%);
   }
   .blur_back {
      width: 80%;
      background-position: -100% 10% !important;
   }
}

@media screen and (max-width: 768px) {
   .movie_card {
      width: 98%;
      height: auto;
      margin: 70px auto;
   }
   .blur_back {
      width: 100%;
      background-position: 50% 50% !important;
   }
   .movie_header {
      width: 100%;
      margin-top: 85px;
   }
   .movie_desc {
      width: 100%;
   }
   .info_section {
      background: linear-gradient(to top, #141413 50%, transparent 100%);
      display: inline-grid;
   }
}

.shadow {
   box-shadow: 0px 30px 190px -45px rgba(19, 160, 134, 0.6);
}
/*
.shadow:hover {
   box-shadow: 0px 0px 120px -55px rgba(19, 160, 134, 0.6);
}
*/
.modal {
   display: none;
   justify-content: center;
   align-items: center;
   position: absolute;
   z-index: 9999;
   left: 55px;
   top: 100px;
   width: 1100px;
   height: 600px;
   overflow: hidden;
   background-color: black;
   background-color: rgba(50, 50, 50, 0.6);
   animation-name: fadeIn;
   animation-duration: 0.4s;
   outline: 0;
}

.modal_content {
   text-align: center;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.movieCreadits_container {
   background: #f1f3f5;
   padding: 0;
   max-width: 1300px;
   height: 360px;
   margin: 25px auto;
   position: relative;
   /* background-color: darkgoldenrod; */
}

.slider {
   display: flex;
   height: 100%;
   width: 100%;
   overflow-x: auto;
   overflow-y: hidden;
   position: relative;
   scroll-behavior: auto;
   -webkit-overflow-scrolling: touch;
   -ms-scroll-snap-type: x proximity;
   scroll-snap-type: x proximity;
   -ms-scroll-chaining: none;
   overscroll-behavior: contain;
   -webkit-overflow-scrolling: touch;
   -ms-overflow-style: -ms-autohiding-scrollbar;
   scrollbar-width: thin;
   scrollbar-color: #adb5bd transparent;
   background-color: black;
}

.slider::-webkit-scrollbar {
   height: 13px;
   width: 6px;
}

.slider::-webkit-scrollbar-track {
   background-color: transparent;
   border-radius: 10px;
}

.slider::-webkit-scrollbar-thumb {
   background-image: linear-gradient(-20deg, #d558c8 0%, #24d292 100%);
   border-radius: 10px;
   cursor: pointer;
   -webkit-transition: all 200ms ease-in-out;
   transition: all 200ms ease-in-out;
}

.slider::-webkit-scrollbar-thumb:hover {
   background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
}

.slider::-webkit-scrollbar-thumb:active {
   background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
}

.slider::-webkit-scrollbar-thumb:vertical {
   min-height: 30px;
}

.slider::-webkit-scrollbar-thumb:horizontal {
   min-width: 30px;
}

.itemDiv .item {
   display: flex;
   width: 164px;
   height: 230px;
   position: relative;
   padding: 0;
   margin: 32px 22px 17px 0px;
   -moz-border-radius: 13px 13px 13px 13px;
   -webkit-border-radius: 13px 13px 13px 13px;
}

.textTag {
   color: white;
   font-size: 18px;
   font-weight: 500;
   text-align: center;
}

.h4Text {
   font-family: 'RixYeoljeongdo_Regular';
   background-color: black;
   color: white;
   font-size: 32px;
   color: white;
}

@-webkit-keyframes show {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes show {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.review_container {
  position: relative;
  max-width: 1000px;
  text-align: center;
  margin: 2% auto;
  padding: 30px 0;
  background: #111;
  color: #eee;
  border-radius: 5px;
  border: thin solid #444;
  overflow: hidden;
}


div.stars {
  width: 680px;
  display: inline-block;
}

input.star {
  display: none;
}

label.star {
  float: right;
  margin-right:15px;
  padding: 10px;
  font-size: 36px;
  color: #444;
  transition: all 0.2s;
}

input.star:checked ~ label.star:before {
  content: "\f005";
  color: rgb(253, 219, 68);
  transition: all 0.25s;
}

input.star-5:checked ~ label.star:before {
  color: rgb(248, 235, 135);
  text-shadow: 0 0 20px #952;
}

input.star-1:checked ~ label.star:before {
  color: #f62;
}

label.star:hover {
  transform: rotate(-15deg) scale(1.3);
}

label.star:before {
  content: "\f006";
  font-family: FontAwesome;
}

.review_box {
  overflow: hidden;
  height: 0;
  width: 100%;
  transition: all 0.25s;
}

textarea.review {
  width: 100%;
  height: 100px;
  max-width: 100%;
  margin-top: 20px;
  padding: 10px;
  border: none;
  background: #222;
  color: #eee;
  font-size: 21px;
  resize: none;
}

label.review {
  display: block;
  transition: opacity 0.25s;
}

input.star:checked ~ .review_box {
  height: 125px;
  overflow: visible;
}

 .review_h4Text {
	margin : 200px 0 0px 100px;
}


input[id="checkbox"] {
  display: none;
  border: thin solid #444;

}

input[id="checkbox"]:checked + label[for="checkbox"]:before {
  box-shadow: inset 0 0 0 16px #E74C3C;
  transition: box-shadow 0.2s ease-out;
}
input[id="checkbox"]:checked:focus + label[for="checkbox"] {
  text-decoration: underline;
}
input[id="checkbox"]:checked:focus + label[for="checkbox"]:before {
  outline: 0;
}
input[id="checkbox"]:focus + label[for="checkbox"]:before {
  outline: 1px solid #E74C3C;
}

label[for="checkbox"] {
  position: absolute;
  left: 170px;
  line-height: 60px;
  padding-left: 50px;
  font-size: 26px;
  color: white;
}

label[for="checkbox"]:before {
  box-shadow: inset 0 0 0 0 #E74C3C;
  content: "";
  display: block;
  height: 24px;
  width: 24px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 50%;
  transform: translate3d(0, -50%, 0);
  transition: box-shadow 0.15s ease-in;
  border: 4px solid #444;;

}

input[id="spo_check"] {
  display: none;
  border: thin solid #444;

}

input[id="spo_check"]:checked + label[for="spo_check"]:before {
  box-shadow: inset 0 0 0 16px #E74C3C;
  transition: box-shadow 0.2s ease-out;
}
input[id="spo_check"]:checked:focus + label[for="spo_check"] {
  text-decoration: underline;
}
input[id="spo_check"]:checked:focus + label[for="spo_check"]:before {
  outline: 0;
}
input[id="spo_check"]:focus + label[for="spo_check"]:before {
  outline: 1px solid #E74C3C;
}

label[for="spo_check"] {
  position: absolute;
  left: 170px;
  line-height: 60px;
  padding-left: 50px;
  font-size: 26px;
  color: white;
}

label[for="spo_check"]:before {
  box-shadow: inset 0 0 0 0 #E74C3C;
  content: "";
  display: block;
  height: 24px;
  width: 24px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 50%;
  transform: translate3d(0, -50%, 0);
  transition: box-shadow 0.15s ease-in;
  border: 4px solid #444;;

}

.review_submit {
  position: absolute;
  top: 2px;
  right: 2px;
  padding: 10px 20px;
  border-radius: 15px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  font-size: 23px;
  font-weight: 600;
  transition: 0.25s;
  border: none;
  background-color: rgba(0, 0, 0, 0.2);
  color: #6e6e6e;
}

.review_submit:hover {
  letter-spacing: 2px;
  transform: scale(1.1);
  cursor: pointer;
/*   background-color: #a3a1a1; */
  color: #e3dede;
  
}

.review_submit:active {
  transform: scale(1.5);
}

.stars_edit{
	display:none;
}

#reviewOne:nth-child(3) {
	position: absolute;
    top: 2px;
    right: 2px;
    padding: 10px 20px;
    border-radius: 15px;
    box-shadow: 0 15px 35px rgb(0 0 0 / 20%);
    font-size: 19px;
    font-weight: 600;
    transition: 0.25s;
    border: none;
    background-color: rgba(0, 0, 0, 0.2);
    color: #6e6e6e;
}

#spocontent{
	font-size:20px;
}

.review_edit {
	position: absolute;
    top: 0px;
    right: 60px;
    padding: 10px 20px;
    border-radius: 15px;
    box-shadow: 0 15px 35px rgb(0 0 0 / 20%);
    font-size: 23px;
    font-weight: 600;
    transition: 0.25s;
    border: none;
    background-color: rgba(0, 0, 0, 0.2);
    color: #6e6e6e;
	cursor: pointer;
}

.review_edit:hover,
.review_delete:hover {
  letter-spacing: 2px;
  transform: scale(1.2);
  cursor: pointer;
/*   background-color: #a3a1a1; */
  color: #e3dede;
  
}

.review_delete {
	position: absolute;
    top: 0px;
    right: 0px;
    padding: 10px 20px;
    border-radius: 15px;
    box-shadow: 0 15px 35px rgb(0 0 0 / 20%);
    font-size: 23px;
    font-weight: 600;
    transition: 0.25s;
    border: none;
    background-color: rgba(0, 0, 0, 0.2);
    color: #6e6e6e;
	cursor: pointer;
}

.Ereview_box {
	margin: 0 auto;
	width: 80%;

}

.review_edit_edit {
    margin-top : 5px;
    padding: 10px 20px;
    border-radius: 15px;
    box-shadow: 0 15px 35px rgb(0 0 0 / 20%);
    font-size: 23px;
    font-weight: 600;
    transition: 0.25s;
    border: none;
    background-color: rgba(0, 0, 0, 0.2);
    color: #6e6e6e;
	cursor: pointer;
}

.review_edit_edit:hover {
  letter-spacing: 2px;
  transform: scale(1.1);
  cursor: pointer;
  background-color: #a3a1a1;
  color: #e3dede;
  
}


.hr_style {
	margin-top: 10px;
	width: 97%;
	height: 1px;
  	border-width: 0 0 1px;
  	color: #e3dede;
    border-image: linear-gradient(90deg, rgba(135, 206, 235, 0), #e3dede 50%, rgba(135, 206, 235, 0) 100%) 0 0 100%;
 	border-style: solid;
}

#mreviewList>ul>li {
    position: relative;
}

#mreviewFrm{
	padding-bottom:15px;
}


#reviewOne {
	margin: 10px;
	padding-top:5px;
	width: 80%;
	font-size: 20px;
	white-space :pre-wrap;
	line-height: 23px;
}

#mreviewList>ul>li>input[type="button"] {
	margin-top: 5px;
    position: absolute;
    top: 0px;
    right: 0;
    padding: 10px 20px;
    border-radius: 15px;
    box-shadow: 0 15px 35px rgb(0 0 0 / 20%);
    font-size: 23px;
    font-weight: 600;
    transition: 0.25s;
    border: none;
    background-color: rgba(0, 0, 0, 0.2);
    color: #6e6e6e;
    cursor: pointer;
}

#mreviewList>ul>li>input[type="button"]:hover {
	letter-spacing: 2px;
	transform: scale(1.1);
	cursor: pointer;
	background-color: #a3a1a1;
    color: #e3dede;
}
.more{	
    top: 0px;
    right: 0px;
    padding: 10px 20px;
    border-radius: 15px;
    box-shadow: 0 15px 35px rgb(0 0 0 / 20%);
    font-size: 15px;
    font-weight: 600;
    transition: 0.25s;
    border: none;
    background-color: rgba(0, 0, 0, 0.2);
    color: #6e6e6e;
    cursor: pointer;
}

.spo{
	 display:none;
} 