@charset "UTF-8";
/* 공통 */
body{
 	background-color: white;
}
#main_logo {
	margin: 0px auto 0 auto;
	padding-top: 10px;
	padding-right: 15px;
}
#header{
	width:100vw; height:100px;
	background-color: black;
	text-align: center;
}

#nav {width:100vw; height:100px; margin-top:-90px;}
#nav > ul {width:22.6%; height:100px;}
#nav #admin_section1 {float:left;margin-left:13.5%}
#nav #admin_section2 {float:right;margin-right:13.5%}
#nav > ul > li {
	float:left;
	width:50%; height:100px;
}
#nav > ul > li > a {
	font-size : 2.4rem;
	line-height:30px; font-weight:bold;
	display:inline-block;
	margin:35px 0;
	transition:all 0.5s;
}

#nav > ul > li > ul{
	background-color: black;
	opacity: 1;
}
#admin_section1 > li:nth-child(2) > ul a {
	color: white; font-size: 2rem; 
}
#admin_section2 > li:nth-child(1) > ul a {
	color: white; font-size: 2rem;
}
.adminTopMenu_drop{
	position: relative;
	z-index: 99999;
}
.adminTopMenu_drop > li{
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-weight:bold;
	background-color:rgba(0,0,0,0.8);
	transition: 0.3s;
	border-bottom: 1px solid white;
}

.adminTopMenu_drop > li:hover{
	background-color:rgba(255,255,255,0.8);
}
#nav > ul > li > a:hover {color:red}

.img_top{
	width: 100%;
	height: 200px;
	margin-top: 10px;
	background-color: red;
}
/*  -------------------------------------------   */

.admin_title{
	height: 200px;
	background-color: orange;
}
.admin_container{
	width: 1200px;
	margin: 0px auto;
	overflow: auto;
	padding-bottom: 00px;
}
.admin_container input[type=button], .admin_container input[type=submit]{
	border: 2px solid gray;
	background-color: gray;
}
.admin_container input[type=button]:hover, .admin_container input[type=submit]:hover{
	color: white;
	font-weight: bold;
}	
.admin_container a:hover{
	font-weight: bold;
	text-decoration: underline;
}	
li{
	list-style-type: none;
}
.admin_container a:link, .admin_container a:visited{
	color: black;
}
/*  -------------------------------------------   */
.list_title{
	background-color: #d3d3d3;
	font-weight: bold;
	text-align: center;
}
/* 회원목록 */
.memberList{
	width: 1200px;
	overflow: auto; 
}
.memberList li{
	float: left;
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid black;
	text-align: center;
	width: 12.5%;
}
.memberList li:nth-child(8n){
	float: left;
	line-height: 50px;
	border-bottom: 1px solid black;
	width: 12.5%;
}
.memberList li:nth-child(8n+1){
	width: 7%;
}
.memberList li:nth-child(8n+3){
	width: 18%;
}
.memberList li input[type=submit]{
	border-radius: 5px;
	background-color: rgb(0,0,0,0.1);
	border: 1px solid black;
	color: black;
}
.memberList li input[type=submit]:hover{
	background-color: gray;
	color: white;
}
#thumbnail_member{
	width: 70px;
	height: 70px;
}
/* 작가목록 */
.authorList{
	width: 1200px;
	overflow: auto;
	text-align: center;
}
.authorList li{
	float: left;
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid black;
	text-align: center;
	width: 13%;
}
.authorList li input[type=button]{
	border-radius: 5px;
	background-color: rgb(0,0,0,0.1);
	border: 1px solid black;
	color: black;
}
.authorList li input[type=button]:hover{
	background-color: gray;
	color: white;
}
.authorList li:nth-child(8n){
	line-height: 50px;
}
.authorList li:nth-child(8n+1), .authorList li:nth-child(8n+2), .authorList li:nth-child(8n+4){
	width: 7%;
}
.authorList li:nth-child(8n+5), .authorList li:nth-child(8n+3){
	overflow: hidden;
	text-overflow: ellipsis;
	width: 20%;
	white-space: nowrap;
}
.authorList ul li:nth-child(8n+5){
	overflow: hidden;
	text-overflow: ellipsis;
	width: 20%;
	text-align: left;
	white-space: nowrap;
}
.authorList li:nth-child(8n) input{
	text-align: center;
	margin-top: 7px;
}
/* 작가목록 - 모달창*/
.modal{
	position: absolute;
	top: 80px;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	background-color: rgba(0, 0, 0, 0.4);
}
.modal_body{
	position: relative;
	width: 500px;
	height: 500px;
	top: 25%;
	left: 50%;
	transform: translate(-50%, -50%)
}
.modal_info{
	background-color: white;
	border-radius: 10px;
	border: 2px solid gray;
	text-align: center;
}
.modal_info li{
	padding-top: 10px;
}
.modal_info li:first-child{
	font-size: 1.3em;
	font-weight: bold;
}
.modal_info li:nth-child(3), .modal_info li:nth-child(4), .modal_info li:nth-child(5){
	text-align: left;
	margin-left: 35px;
	width: 87%;
	padding-bottom: 5px;
}
.modal_info li:nth-child(4){
	text-overflow: ellipsis;
}
.modal_info li:last-child{
	padding-bottom: 10px;
}
.modal_info a{
	color: black;
}
.modal_info a:hover{
	font-weight: bold;
	text-decoration: underline;
}
#textBox2{
	margin-bottom: 10px;
}
.btn_wrap{
	text-align: center;
}
.modal_info input[type=button]{
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	background-color: gray;
	border: 2px solid gray;
	border-radius: 5px;
	font-weight: bold;
}
.modal_info input[type=button]:hover{
	background-color: gray;
	border: 2px solid gray;
	color: white;
}
/* 자유게시판 목록*/
.adminBoardList{
	width: 1200px;
	overflow: auto;
	text-align: center;
}
.adminBoardList li{
	float: left;
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid black;
	width: 10%;
}
.adminBoardList li:nth-child(6n+2), .adminBoardList ul li:nth-child(6n+2){
	overflow: hidden;
	text-overflow: ellipsis;
	width: 50%;
	text-align: left;
	white-space: nowrap;
}
.adminBoardList li:nth-child(2){
	text-align: center;
}

/* 문의사항게시판 목록*/
.adminHelpList{
	width: 1200px;
	overflow: auto;
	text-align: center;	
}
.adminHelpList li{
	float: left;
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid black;
	width: 10%;
}
.adminHelpList ul li:nth-child(6n+2), .adminHelpList li:nth-child(6n+2){
	overflow: hidden;
	text-overflow: ellipsis;
	width: 45%;
	text-align: left;
	white-space: nowrap;
}
.adminHelpList li:nth-child(2){
	text-align: center;
}
.adminHelpList li:nth-child(6n+3){
	width: 15%;
}
/* 리뷰관리 목록*/
.adminReviewList{
	width: 1200px;
	overflow: auto;
	text-align: center;	
}
.adminReviewList li{
	float: left;
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid black;
	width: 15%;
}
.adminReviewList li:nth-child(7n+1){
	width: 10%;
}
.adminReviewList li:nth-child(7n+2){
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.adminReviewList ul li:nth-child(7n+3), .adminReviewList li:nth-child(7n+3){
	overflow: hidden;
	text-overflow: ellipsis;
	width: 35%;
	white-space: nowrap;
	text-align: left;
}
.adminReviewList li:nth-child(3){
	text-align: center;
}
.adminReviewList li:nth-child(7n+5), .adminReviewList li:nth-child(7n){
	width: 10%;

}
.adminReviewList li:nth-child(7n+6){
	width: 5%;
}
/* 신고관리 목록*/
.adminWarningList{
	width: 1200px;
	overflow: auto;
	text-align: center;	
}
.adminWarningList ul li,.adminWarningList li{
	float: left;
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid black;
	width: 15%;
}
.adminWarningList ul li:nth-child(7n+1), .adminWarningList li:nth-child(7n+1){
	width: 10%;
}
.adminWarningList ul li:nth-child(7n+2), .adminWarningList li:nth-child(7n+2){
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.adminWarningList ul li:nth-child(7n+3), .adminWarningList li:nth-child(7n+3){
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: left;
	white-space: nowrap;
	width: 30%;
}
.adminWarningList li:nth-child(3){
	text-align: center;
}
.adminWarningList ul li:nth-child(7n+5), .adminWarningList ul li:nth-child(7n+6), .adminWarningList ul li:nth-child(7n),.adminWarningList li:nth-child(7n+5), .adminWarningList li:nth-child(7n+6), .adminWarningList li:nth-child(7n){
	width: 10%;

}
/* 감상평관리 목록*/
.adminExReplyList{
	width: 1200px;
	overflow: auto;
	text-align: center;	
}
.adminExReplyList li{
	float: left;
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid black;
	width: 10%;
}
.adminExReplyList li:nth-child(6n+2){
	overflow: hidden;
	text-overflow: ellipsis;
	width: 20%;
}
.adminExReplyList ul li:nth-child(6n+3), .adminExReplyList li:nth-child(6n+3){
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 40%;
	text-align: left;
}
.adminExReplyList li:nth-child(3){
	text-align: center;
}

/* 페이징 */
.paging{
	margin: 30px auto;
	height: 30px; 
	overflow: auto;
	text-align: center;
}
.paging li{
	float:left; 
	width: 28px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	background-color:#fff;	
	border: 1px solid #e6e6e6;
	margin-right: 5px;
}
.paging li a{ 
	width: 28px;
	height: 28px;
}
.paging li:first-child{
	margin-left: 480px;
}
.arrow_prev{
	background: url(/img/admin/page_prev.png) no-repeat center center;
	margin-left: 0px;
}
.arrow_next{
	background: url(/img/admin/page_next.png) no-repeat center center;
	margin-left: 0px;
}
#resetList, #multiDel{
	border-radius: 5px;
	float: right;
	margin-top: 10px;
	margin-right: 12px;
	background-color: rgb(0,0,0,0.1);
	border: 1px solid black;
	color: black;
}
#resetList:hover, #multiDel:hover{
	background-color: gray;
	color: white;
}	

/* 검색 */
.mini_top{
	z-index: 100;
	overflow: auto;
}
.mini_top li{
	float: left;
	margin: 0px;
	padding: 0px;
	height: 36px;
	line-height: 36px;
	margin-bottom: 10px;
	margin-top: 10px;
}
.mini_top li:first-child {
	text-align: center;
	width: 10%;
	border: 2px solid gray;
}
.mini_top li:last-child {
	width: 89%;
}
#searchFrm{
	margin: 0px;
	padding: 0px;
	height: 40px;
}
#searchkey{
	width: 10%;
	height: 40px;
	float: left;
	border: 2px solid gray;
	border-left: 0px;
}
#searchWord{
	width: 80%;
	line-height: 34px;
	float: left;
	border: 2px solid gray;
	border-left: 0px;
}
#searchBtn{
	width: 9.4%;
	height: 40px;
	float: left;
	border: 2px solid gray;
	border-left: 0px;
	background-color: gray;
}
#searchBtn:hover{
	background-color: #251D3A;
	color: white;
	font-weight: bold;
}
/* admin top img */
.admin_gallery_wrap{
	margin: 0;
}
.admin_gallery{
	list-style: none;
	padding: 0;
	margin: 0;
	height: 400px;
	width: 1200px;
	margin-top: 10px;
}
.admin_gallery li{
	width: 1200px;
	height: 400px;
	transition: 0.3s;
	position: relative;
	overflow: hidden;
}
.admin_gallery_content{
	position: absolute;
	background-color: rgb(0,0,0,0.4);
	color:white;
	text-align: center;
	height: 400px;
	width: 100%;
	line-height: 400px;
	font-size: 2.5em;
	font-weight: bold;
}

.noanswer_img{
	background: url(/img/admin/noanswer1.jpg) no-repeat center center;
	width: 100%;
	height: 500px;
}
