@charset "UTF-8";

#home_main_container {
	position:relative; z-index:-1;
	text-align:center;
}
section .home_scrolldown {
	width:50px; height:50px;
	position:absolute; left:50%; top:85vh;
	transform:translateX(-25px);
	z-index:5;
	cursor:pointer;
}
h2 {
	font-size:5rem; font-weight:500;
	line-height:250px; color:#fff;
	padding-top:100px
}
/* ***************************************************** */
/* pagination- start */

#home_pagination li {
	display:block;
}
.home_tab_filled {background-color:#fff}
#home_pagination span {
	display:block;
	width:calc(100vw/64); height:calc(100vh/36);
	border:1px solid #fff;
	border-radius:50%;	
	margin:calc(100vh/38.4) 0;
	position:fixed; right:5%;
	z-index:5;
	cursor:pointer;
}
#home_pagination li:nth-child(2) span {top:35vh}
#home_pagination li:nth-child(3) span {top:45vh}
#home_pagination li:nth-child(4) span {top:55vh}
#home_pagination li:nth-child(5) span {top:65vh}
/* pagination- end */
/* ***************************************************** */

/* ***************************************************** */
/* main - section 1 - start */

#home_visual {	
	background:url(../img/main_visual_1.png);
	background-size:100vw 100vh;
}

#three-container {
	margin: 0;
    overflow:hidden;
    position:absolute; left:0; top:-50px;
    z-index:2
}
#home_visual::after {
    content:"";
    width:100vw; height:100vh;
    position:absolute; left:0; top:0;
    background-color:rgba(0,0,0,0.6);
    z-index:1
}
.color-bg-start {background-color: salmon;}
/* toggle class bg-animate-color */

.bg-animate-color {
  animation: random-bg .5s linear infinite;
}
@keyframes random-bg {
  from {filter: hue-rotate(0);}
  to {filter: hue-rotate(360deg);}
}
.fun-btn {
  /* change bg color to get different hues    */
  background-color: rgba(250,113,114,0.5);
  width:150px; height:60px;
  color: white;
  border: none;
  transition: all .3s ease;
  border-radius: 5px;
  letter-spacing: 2px;
  text-transform: uppercase;
  outline: none;
  align-self: center;
  cursor: pointer;
  font-weight: bold;
  position: absolute; left:46%; bottom:300px;
  z-index:2
}
.fun-btn:hover {
  animation: random-bg .5s linear infinite, grow 1300ms ease infinite;
}
.start-fun {
  background-color: #fff !important;
  /* change color of button text when fun is started   */
  color: salmon !important;
}

/* pulsating effect on button */
@keyframes grow {
  0% {transform: scale(1);}
  14% {transform: scale(1.3);}
  28% {transform: scale(1);}
  42% {transform: scale(1.3);}
  70% {transform: scale(1);}
}

/* main - section 1 - end */
/* ***************************************************** */

/* ***************************************************** */
/* main - section 2 - start */
#home_entertain {
	background:url(../img/home_visual2.png);
	background-size:100vw 100vh;
	z-index:-2;
}
#home_entertain::after {
    content:"";
    width:100vw; height:100vh;
    position:absolute; left:0; top:0;
    background-color:rgba(0,0,0,0.6);
    z-index:-1
}
#home_entertain ul {
	width:calc(100vw/1.6);
	margin:0 auto
}
#home_entertain ul li {
	width:calc(100vw/3.84); height:calc(100vh/2.7);
	background-color:black;
	float:left;	
	position:relative; z-index:2;
	overflow:hidden
}
#home_entertain ul li::after{
	content:"";
	display:block;
	width:calc(100vw/4.34); height:calc(100vh/3.2);
	border:1px solid #fff;
	position:absolute; left:6%; top:7%;
	z-index:3;
}
#home_entertain ul li+li {margin-left:calc(100vw/9.6)}
#home_entertain ul li a {
	display:block;
	width:calc(100vw/3.84); height:calc(100vh/2.7);
	position:absolute; left:0; top:0;
}
#home_entertain ul li:nth-child(1){
	background:url(../img/home_entertain_movie.jpg);
	background-size:calc(100vw/3.84) calc(100vh/2.7);
}
#home_entertain ul li:nth-child(2){
	background:url(../img/home_entertain_musical.jpg);
	background-size:calc(100vw/3.84) calc(100vh/2.7);
}
#home_entertain ul li a em {
	width:calc(100vw/3.84); height:calc(100vh/2.7);
	position:absolute; left:0; top:0;
	z-index:4;
	font-size:2.4rem; font-weight:500;
	line-height:calc(100vh/2.7);
	background-color:blule;
	display:block
}
#home_entertain ul li span {
	width:calc(100vw/3.5); height:calc(100vh/2.7);
	display:block;
	position:absolute;
	transform:skew(54.5deg);
	transition:all 1s;
	background-color:rgba(0,0,0,0.8);
	z-index:2;
}
#home_entertain ul li .skew_box1 {left:-59.5%; top:0;}
#home_entertain ul li .skew_box2 {right:-59.5%; top:0;}

#home_entertain ul li:hover span {
	transform:skew(0deg);
}
#home_entertain ul li:hover .skew_box1 {left:-150%;}
#home_entertain ul li:hover .skew_box2 {right:-150%;}
#home_entertain ul li:hover::after {z-index:1}

/* main - section 2 - end */
/* ***************************************************** */

/* ***************************************************** */
/* main - section 3 - start */

#home_exhibition {
	background:url(../img/home_exhibition_bg.png);
	background-size:100vw 100vh;
	position:relative;
	overflow:hidden
}
#home_exhibition h2 {padding-top:50px}
#home_exhibition ul li {
	display:block;
	width:100vw; height:100vh;
}
#home_sec3_img1{
	background:url(../img/home_exhibition_img1.png);
	background-size:100vw 100vh;
}
#home_exhibition ul li:nth-child(2){
	background:url(../img/home_exhibition_img2.png);
	background-size:100vw 100vh;
	z-index:3;
	transition-delay:0.5s;
}
#home_exhibition ul li:nth-child(3){
	background:url(../img/home_exhibition_img3.png);
	background-size:100vw 100vh;
	z-index:2;
}
#home_exhibition ul li:nth-child(4){
	background:url(../img/home_exhibition_img4.png);
	background-size:100vw 100vh;
}
#home_exhibition ul li:nth-child(5){
	background:url(../img/home_exhibition_img5.png);
	background-size:100vw 100vh;
}
#home_exhibition ul li:nth-child(6){
	background:url(../img/home_exhibition_img6.png);
	background-size:100vw 100vh;
}
#home_exhibition button {z-index:4;}
/* main - section 3 - end */
/* ***************************************************** */

