@charset "EUC-KR";
ul{
	list-style:none;
	float:left;
	padding:20px;
}

ul>li{
	color:white;
	width:200px;
}

#aaa{
	background-color:black;	
	margin:0 auto;
	background-image:url(/img/theater/theBack.jpg);
	background-repeat: no-repeat;
	background-size:1200px;
	background-position:center center;
	background-attachment:fixed;
}

#theaterMenu{
	padding-top:300px;
	width:1200px;
}

#theaterMain>li{
	width:1200px;
	text-align:center;
	height:200px;
	font-size:35px;
}
#theaterSub{
	width:1200px;
	margin:0 auto;
	padding:0;
}
#theaterSub li{
	list-style:none;
	float:left;
	width:550px;
	text-align:center;
}

#play{
	width: 600px;
	float: left;
	box-sizing: border-box;
}

#musical{
	width:600px;
	float:right;
	box-sizing:border-box;
}

#thePoster{
	width:200px;
}