@charset "UTF-8";

#detail_container{
	text-align: center;
	background-color:black;
	height:5000px;
	background-image:url(/img/theater/theBack.jpg);
	background-repeat: no-repeat;
	background-size:1200px;
	background-position:center center;
	background-attachment:fixed;
}

#topDetail{
	padding-top:300px;
	height:350px;
}

#detail{
	margin:0 auto;
	background-color:white;
	width:800px;
	height:800px;
	padding:5px;
	border: 1px solid white;
	background-clip: content-box;
	border-radius: 40px;
}
#detail>li{
	width:300px;
	float:left;
}

#thePoster{
	width:200px;
}

#map{
	margin:0 auto;
	padding-top:100px;
}