@charset "UTF-8";

#detail_container{
	text-align: center;
	background-color:black;
	height:5000px;
	background-image:url(/img/theater/theBack.jpg);
	background-repeat: no-repeat;
	background-size:1200px;
	background-position:center center;
	background-attachment:fixed;
}

#topDetail{
	padding-top:300px;
	height:350px;
}

#detail{
	margin:0 auto;
	background-color:white;
	width:800px;
	height:1000px;
	padding:5px;
	border: 1px solid white;
	background-clip: content-box;
	border-radius: 40px;
}
#detail>li{
	width:300px;
	float:left;
}

#thePoster{
	width:200px;
}

#map{
	margin:0 auto;
	padding-top:100px;
}

#review{
	margin:0 auto;
	padding-top:50px;
}

.input_review{
	width:600px;
	height:50px;
}
.rating{
	margin:0 auto;
}
.rating .rate_radio {
    display: inline-block;
    z-index: 20;
    opacity: 0.001;
    width: 60px;
    height: 60px;
    background-color: white;
    cursor: pointer;
    vertical-align: top;
    display: none;
}
.rating .rate_radio + label {

    display: inline-block;
    margin-left: -3px;
    width: 30px;
    height: 30px;
    background-image: url('/img/theater/star.png');
    background-repeat: no-repeat;
    background-size: 30.4px 30.4px;
    cursor: pointer;
    background-color: white;
}
.rating .rate_radio:checked + label {
    background-color: gold;
}