nav {margin-top:-100px;}

.selected_menu{
	font-weight: bold; 
	color:#9DC3E6;
}

#mypage_container{
	margin-top:17vh;
}
#mypage_col{
	position:relative;
	padding:100px 0;
	overflow-y:auto
}

#mypage_member{
	height: 100vh;
}

#memberForm{
 	height:50%;
}

#mypage_member_thumbnail_container{
	margin : 0 auto;
	margin-bottom : 20px;
	border-radius : 70%;
	width:170px;
	height:170px;
	border: 1px solid black;
	z-index : -20;
	text-align:center;
}

#mypage_author_thumbnail_container> img{
	object-fit: contain;
	width:100%;
	height: 100%;
	top: 60%;
}


#mypage_member_thumbnail_container> #thumbnail_member{
	border-radius : 70%;
	object-fit: contain;
	width:100%;
	height: 100%;
	top: 60%;
}

#mypage_member_thumbnail_container> .thumbnail_btn{
	cursor:pointer;
	position : relative;
	top: -18%;
	left : 36%;
	width:15%;
	height: 15%;
	z-index : 20;
	border-radius : 20%;
	background-color:white;
}

#mypage_author_thumbnail_container > #thumbnail_member{
	margin : 0 auto;
	border-radius : 70%;
	width:150px;
	height:150px;
	background-color:rgba(0,0,0,0.5);

}
#mypage_sidebar{
	background-color:rgba(0,0,0,0.5);
	color:white;
	text-align:center;
	font-size:2.4rem;
	height:100%;
	position:fixed; right:0;
}
#mypage_sidebar >div> ul{
	list-style:none;
}
#mypage_sidebar >div> ul >li{
	margin-top:20px;
	margin-bottom:25px;
}
#mypage_sidebar > div>hr{
	margin : 0 auto;
	width:60%;
}
#mypage_sidebar>#mypage_sidebar_container{
	position:relative; top:50%;
	transform:translateY(-50%)
}
#mypage_notification{
	margin-left:5px;
	width:40px;
	height:40px;
}
#mypage_sidebar_container ul a:hover{
	color:#ADD7D6;
}
a{
	color:white;
	text-decoration: none;
}
a:visited{
	text-decoration: none;
}

/*선택창*/
#select_container{
	width:130px;
	font-size:2rem; 
	margin:5px; 
	text-align:center;
}

/*          검색창                */
#search_container{
	width:50%; 
	margin:0 auto;
	font-size:1.7rem;
	margin-top:40px;
	border : solid 1.5px gray;
	border-radius : 7px;
}
#search_container > #search_word{
	border:none;
}
#search_container >img{
	position:relative;
}
#my_page_col, #mypage_col2 {
	position:absolute;
	top:50%; transform:translateY(-50%);
}
#authorWrite {
	position:absolute;left:50%; top:50%;
	transform:translate(-50%, -50%);
	font-size:1.8rem
}
#authorWrite > div:not(.authorWriteThumbnail) {
	width:500px;
	margin:10px auto 0 auto;
	line-height:30px;
}
#authorWrite > div input, span{
	font-size:1.6rem; line-height:25px
}
.authorMsg > div > textarea {
	resize:none; height:100px;
	overflow:auto;
	font-size:1.6rem;
	line-height:25px
}

/*          감상평           */
.table-responsive {position:relative;}
.sticky-top {
	width:100%; height:50px;
	text-align:center; line-height:50px;
	background-color:gray;
	margin:0; padding:0;
	font-weight:bold
}
.sticky-bottom {margin:0; padding:0;}
.sticky-top > li {
	float:left; margin:0 1%; 
}
.sticky-top > li:nth-child(1) {width:5%}
.sticky-top > li:nth-child(2) {width:18%}
.sticky-top > li:nth-child(3) {width:28%}
.sticky-top > li:nth-child(4) {width:14%}
.sticky-top > li:nth-child(5) {width:15%}
.sticky-top > li:nth-child(6) {width:8%}

.tr_record {
	width:100%; height:50px !important;
	text-align:center; line-height:50px;
	margin:0; padding:0;
	transition:all 0.3s;
}
.tr_record:nth-child(odd) {background-color:rgba(0,0,0,0.2)}
.tr_record:nth-child(even) {background-color:rgba(0,0,0,0.1)}
.tr_record > p{
	float:left; height:48px;
	line-height:48px; margin-bottom:0;
	margin:0 1%; 
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
	font-size:1.8rem
}

.tr_record > p:nth-child(1) {width:5%}
.tr_record > p:nth-child(2) {width:18%}
.tr_record > p:nth-child(3) {width:28%}
.tr_record > p:nth-child(4) {width:14%}
.tr_record > p:nth-child(5) {width:15%}
.tr_record > p:nth-child(6) {width:8%}
.tr_record > p:nth-child(6) button{margin-top:-10px}

.tr_record:hover {background-color:rgba(0,0,0,0.3)}

.tr_record > p:nth-child(3) textarea {
	width:100%; height:48px; 
	line-height:25px;
	resize:none;
}

#ex_detail_review_bg ul {padding-left:0}

#modal_exhibition_workList .ex_detail_info {
	width:400px;
	padding:75px 0;
}
#modal_exhibition_review {
	height:300px !important;
	padding:0 30px;
	display:block;
}
#modal_exhibition_review p {
	font-size:2rem; line-height:80px;
	font-weight:bold; margin-left:50px
}
#modal_exhibition_review span {
	width:90%; height:150px;
	overflow-y:auto;
	background-color:rgba(255,255,255,0.5);
	border:1px solid #c0c0c0;
	border-radius:10px;
	font-size:1.8rem;
	line-height:30px;
	display:block;
	margin:0 auto;
	padding:0 20px
}

#modal_exhibition_review span::-webkit-scrollbar{width:10px}
#modal_exhibition_review span::-webkit-scrollbar-track {background-color: #f9f5d2;}
#modal_exhibition_review span::-webkit-scrollbar-thumb {
	background-color: #f2e10d;
	border-radius:5px;	
}
#modal_exhibition_subject {
	font-size:2.8rem !important;
	padding:0 !important;
}

/*리뷰*/
#review_contatiner .card{
	height:100%;
}
#select_container {
	cursor:pointer
}
/*알림창*/
#mypage_notification_ul{
	width:18vw;	
	margin : 0 auto;
}
#mypage_notification_ul > li{
	width:88%;
}