.btn{
	font-size:2rem;
}

/*선택창*/
#select_container{
	width:130px;
	font-size:2rem; 
	margin:5px; 
	text-align:center;
}
/*          검색창                */
#search_container{
	width:50%; 
	margin:0 auto;
	font-size:1.7rem;
	margin-top:40px;
	border : solid 1.5px gray;
	border-radius : 7px;
}
#search_container > #search_word{
	border:none;
}
#search_container >img{
	position:relative;
}

#review_contatiner{
	margin:0 auto;
	text-align:left;
	width:85%;
	min-width:300px;
	height:74vh;
	font-size:2rem;
	scrollbar-width:none;

}

#review_contatiner, .card-text{
	 -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
	
}
.card-text::-webkit-scrollbar, #review_contatiner::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}
.table_author_thumbnail{
	height:150px;
	width:150px;
}
.card{
	margin-bottom:15px;
}
.card-title{
	font-size:2rem;
}
.card-body{
}
.card-text{
	position:relative;
	overflow: scroll;
	height:5vh;
}