<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.team.culife.dao.AlertDAO" >
  	<select id="alertSelectByMemberNo" resultType="com.team.culife.vo.AlertVO">
  		select no, content, member_no, datediff(now(), create_date) create_date from alert
  		where member_no=${param1} and 7 > datediff(now(),create_date) and  datediff(now(),create_date) >= 0
  		limit 1
  	</select>
  	<insert id="alertInsert">
  		insert into alert(member_no, content) 
  		values(#{param1}, #{param2})
  	</insert>
  	<delete id="alertDeleteByNo">
  		delete from alert where no=${param1} 
  	</delete>
  </mapper>