<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.team.culife.dao.AuthorDAO" >
  	<select id="authorSelectByName" resultType="com.team.culife.vo.AuthorVO">
  		select no, member_no, author, sns_link, author_thumbnail, debut_year, create_date, author_msg, author_status
  		from author 
  		where author=#{param1}
  	</select>
  	<select id="authorNoSelect" resultType="com.team.culife.vo.AuthorVO">
  		select  author.no
		from author
		where member_no = #{param1};
  	</select>

	<insert id="authorWrite" >
		insert into author(member_no, author, sns_link, author_thumbnail, debut_year, author_msg)
		values(#{member_no}, #{author}, #{sns_link}, #{author_thumbnail}, #{debut_year}, #{author_msg})
	</insert>
	<select id="authorSelect" resultType="com.team.culife.vo.AuthorVO">
  		select no, member_no, author, sns_link, author_thumbnail, debut_year, create_date, author_msg, author_status
  		from author 
  	</select>
  	<select id="authorCheck" resultType="string">
  		select author from author
  		where author=#{author}
  	</select>
  </mapper>