<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.team.culife.dao.AuthorDAO" >
  	<select id="authorSelectByName" resultType="com.team.culife.vo.AuthorVO">
  		select no, member_no, author, sns_link, author_thumbnail, debut_year, create_date, author_msg, author_status
  		from author 
  		where author=#{param1}
  	</select>
  	<select id="authorNoSelect" resultType="com.team.culife.vo.AuthorVO">
  		select  no, member_no, author, sns_link, author_thumbnail, debut_year, create_date, author_msg, author_status
		from author
		where member_no = #{param1};
  	</select>

	<insert id="authorWrite" >
		insert into author(member_no, author, sns_link, author_thumbnail, debut_year, author_msg)
		values(#{member_no}, #{author}, #{sns_link}, #{author_thumbnail}, #{debut_year}, #{author_msg})
	</insert>
	<select id="authorSelect" resultType="com.team.culife.vo.AuthorVO">
  		select no, member_no, author, sns_link, author_thumbnail, debut_year, create_date, author_msg, author_status
  		from author 
  		where member_no = #{member_no};
  	</select>
  	<select id="authorCheck" resultType="string">
  		select author from author
  		where author=#{author}
  	</select>
  	<select id = "authorList" resultType="com.team.culife.vo.AuthorVO">
		select no, member_no, author, sns_link, author_thumbnail, debut_year, create_date, author_msg
  		from author
		<if test="searchWord != null">
			where author like '%${searchWord}%'
		</if>		
		order by author asc 
		limit ${recordPerPage} offset ${offsetIndex}
	</select>
	<select id = "totalAuthorList" resultType="int">
		select count(no) cnt from author
		<if test='searchWord != null'>
			where author like '%${searchWord}%'
		</if>
	</select>
	<select id="authorListSelect" resultType="com.team.culife.vo.AuthorVO">
		select no, member_no, author, sns_link, author_thumbnail, debut_year, create_date, author_msg
  		from author where no=#{param1}
	</select>
	<update id="authorUpdate">
  		update author set author_thumbnail=#{author_thumbnail}, sns_link=#{sns_link}, debut_year=${debut_year},  author_msg=#{author_msg}
  	</update>
  </mapper>