<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.culife.dao.BoardDAO">
	<insert id="boardInsert"><!-- 멤버넘버의 닉네임을가져올예정 -->
		insert into board(no,subject,content,view,member_no,category)
		values(#{no},#{subject},#{content},#{view},#{member_no},#{category})
	</insert>
	
	<select id='selectList' resultType="BoardVO">
		select no, subject, member_no,view,write_date from board
	</select>
	
 	<select id="selectView" resultType="BoardVO">
		select b.member_no, m.nickname, m.no, b.subject, b.category, b.view, b.content 
		from board b join member m on b.member_no=m.no
		where b.no=${no} order by b.member_no desc
	</select>
	
	<delete id="deleteView">
		delete from board where no=#{param1} and member_no=#{param2}
	</delete>
	
	<update id="updateViews">
		update board set view=view+1 where no=#{param1}
	</update>
	
</mapper>