<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.culife.dao.ExhibitionDAO">
	<insert id="exhibitionWrite">
		insert into exhibition(author_no, subject, content, start_date, end_date, type) 
		values(#{author_no}, #{subject}, #{content}, #{start_date}, #{end_date}, #{type})
	</insert>
	<select id="exhibitionSelect" resultType="com.team.culife.vo.ExhibitionVO">
		select no, author_no, subject
		from exhibition
		where no = #{param1}
	</select>
	<select id="exhibitionSelectByEndDate" resultType="com.team.culife.vo.ExhibitionVO">
		select no, author_no, subject, start_date, end_date, type
		from exhibition
		where author_no=${param1} and end_date > date_format(now(),'%Y-%m-%d')
	</select>
	<insert id="workInsert">
		insert into work(exhibition_no, work_subject, work_thumbnail, work_content)
		values(${exhibition_no}, #{work_subject}, #{work_thumbnail}, #{work_content})
	</insert>
	<select id="workSelectByExhibitionNo" resultType="com.team.culife.vo.WorkVO">
		select no, exhibition_no, work_subject, work_thumbnail, work_content, write_date
		from work
		where exhibition_no=${exhibition_no}
	</select>
	<update id="workUpdate">
		update work set work_subject=#{work_subject}, work_content=#{work_content}, work_thumbnail=#{work_thumbnail} where no=${no}
	</update>
	<select id="workTotalRecord" resultType="int">
		select count(a.no) from exhibition a
		join work w
		on a.author_no=${member_no} and a.no = w.exhibition_no and date_format(now(),'%Y-%m-%d') >= a.start_date 
	</select>
	<select id="workSelectByAuthorNo" resultType="com.team.culife.vo.WorkVO">
		select a.no, w.exhibition_no, w.work_subject, w.work_thumbnail, a.start_date, a.end_date, w.work_content, w.write_date  from exhibition a
		join work w
		on a.author_no=${member_no} and a.no = w.exhibition_no and date_format(now(),'%Y-%m-%d') >= a.start_date 
		order by a.start_date desc
  		limit ${recordPerPage} offset ${offsetIndex}
	</select>
	<select id="workSelectMaxWriteDate" resultType="com.team.culife.vo.WorkVO">
		select no, exhibition_no, work_subject, work_thumbnail, work_content, max(write_date) 
		from work 
		where no = (select max(no) from work where exhibition_no=${exhibition_no});
	</select> 
	<delete id="workDelete">
		delete from work
			where no = ${no};
	</delete>
</mapper>