<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.team.culife.dao.MemberDAO" >
  	<insert id="memberInsert" useGeneratedKeys="true" keyProperty="no">
  		insert into member(kakao_id, email, nickname, grade) 
  		values(#{kakao_id}, #{email}, #{nickname} ,${grade})
  	</insert>
  	<select id="memberSelectByEmail" resultType="com.team.culife.vo.MemberVO">
  		select no, kakao_id, email, nickname , grade, warning_count, thumbnail, status, create_date 
  		from member
  		where email=#{param1}
  	</select>
  	  <select id="memberSelectByNo" resultType="com.team.culife.vo.MemberVO">
  		select no, kakao_id, email, nickname , grade, warning_count, thumbnail, status, create_date 
  		from member
  		where no=${param1}
  	</select>
  	<delete id="memberDelete">
  		delete from member where kakao_id=${param1}
  	</delete>
  	<update id="memberUpdate">
  		update member set thumbnail=#{thumbnail}, warning_count=${warning_count}, status=${status} where no=${no}
  	</update>
  	<insert id="authorFanInsert">
  		insert into author_fan(author_no, member_no) values(${author_no},${member_no})
  	</insert>
  	<select id="authorFanCheck" resultType="com.team.culife.vo.AuthorFanVO">
  		select author_no, member_no, create_date from author_fan
  		where author_no=${param1} and member_no=${param2}
  	</select>
  	<delete id="authorFanDelete">
  		delete from author_fan where author_no=${param1} and member_no=${param2}
  	</delete>
  </mapper>