<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.team.culife.dao.MovieDAO">
  	<select id="movieReviewSelectByMemberNo" resultType="com.team.culife.vo.MovieVO">
  		select no, member_no, movie_id, content, movie_title, score_star, poster_path, vote_count, write_date, spo_check, warning_count
  		from movie_review
  		where member_no=${member_no}
  		<if test='searchWord != null'>
  			and (movie_title like '%${searchWord}%' or content like '%${searchWord}%') 
  		</if>
  		order by write_date
  		limit ${recordPerPage} offset ${offsetIndex}
  	</select>
  </mapper>