<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.culife.dao.ReplyDAO">
	<insert id="insertReply">
		insert into reply(no, member_no, comment) 
		values(${no}, #{member_no}, #{comment})
	</insert>
	<select id="selectReplyList" resultType="ReplyVO">
		select reply_no, no, member_no, comment, 
		date_format(write_date, "%m/%d %H:%i")write_date
		from reply 
		where no=${param1} order by reply_no desc
	</select>
	<update id="updateReply">
		update reply set comment=#{comment} where reply_no=${reply_no} and member_no=#{member_no}
	</update>
	<delete id="deleteReply">
		delete from reply where reply_no=#{param1} and member_no=#{param2}
	</delete>
</mapper>